body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

li  {
    display: block;
    padding: 10px 10px 0 0;
    margin-top: 10px;
    line-height: 20px;
    list-style: none;
}

ul.todo-list {
    padding: 0;
}

.container-todo {
    line-height: 25px;
}

.todo-input {
    color: black;
    width: 300px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #000000;
    padding: 5px;
    font-size: large;
}

.todo-btn {
    width: 100px;
    height: 38px;
    background-color: #4da04d;
    color: white;
    border-radius: 3px;
}

.todo-btn:active {
    background-color: #09a008;
}

.todo-item {
    display: inline-block;
    margin-left: 2px;
}

.todo-item-delete {
    display: inline-block;
    font-size: small;
    background: none;
    border: none;
}

.item-text {
    display: inline-block;
    margin-left: 5px;
    font-size: large;
    color: #000000;
}

.item-text-decoration {
    text-decoration: line-through;
    font-style: italic;
}

.todo-input:focus, .todo-btn:focus, .todo-item-delete:focus {
    outline: none;
}
